.ex-1-square:hover {
  transition: all ease 1s;
  background-color: red;
}

.ex-2-square:hover {
  transition: all ease-in .5s;
  width: 100%;
}

.ex-3-square:hover {
  transition: all ease .5s;
  border-radius: 50%;
}

.ex-4-square:hover {
  transition: all ease .5s;
  background-color: transparent;
}

.ex-5-square:hover {
  transition: all ease .5s;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.ex-5-square:active {
  transition: all ease .5s;
  width: 40px;
  height: 40px;
  margin: 30px;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

.ex-7-img:hover {
  transition: all ease 2s;
  filter: blur(2px) opacity(20%) ;
}

.ex-8-img:hover {
  transition: all ease 2s;
  filter: blur(2px) opacity(20%) ;
  border-radius: 20px;
}

.ex-9-img:hover {
  transition: all ease 1s;
  filter: blur(2px) opacity(20%);
  transform: scale(0.5);
}

.ex-10-icon{
  animation-name: rotate; 
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.ex-11-icon{
  animation-name: rotate-2; 
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate-2 {
  0%{
    transform: rotate(270deg);
  }
  50%{
    transform: rotate(-0deg);
  }
  100%{
    transform: rotate(270deg);
  }
 }

.ex-12-button:hover .ex-12-top-white {
  animation: moveTopWhite 1s linear;
}
@keyframes moveTopWhite {
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: spostalinea-bottom 1s linear;
}
@keyframes spostalinea-bottom {
  0% {
      right: 20%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: spostalinea-top 1s linear;
}
@keyframes spostalinea-top {
  0% {
      left: 10%;
      top: -10px;
  }
  30% {
      left: calc(100% - 30px);
      top: -10px;
  }
  45% {
      left: calc(100% - 30px);
      top: 100%;
  }
  75% {
      left: 0;
      top: 100%;
  }
  90% {
      left: -15px;
      top: -10px;
  }
  100% {
      left: 10%;
      top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: spostalinea-bottom 1s linear;
}
@keyframes spostalinea-botton {
  0% {
      bottom: -10px;
      right: 20%;
  }
  30% {
      right: calc(100% - 30px);
      bottom: -10px;
  }
  45% {
      right: calc(100% - 30px);
      bottom: 100%;
  }
  75% {
      right: 0;
      bottom: 100%;
  }
  90% {
      right: -15px;
      bottom: -10px;
  }
  100% {
      bottom: -10px;
      right: 20%;
  }
}

